.freamItemMenu {
      background: var(--freamItemMenu);
      height: 200px;
      max-height: 550px;
      overflow-x: auto;
      margin-left: 20px;
      margin-right: 20px;
  }
  .ItemSet {
      display: flex;
      /* flex-wrap: wrap; */
      margin-left: 20px;
      margin-right: 20px;
      justify-content: center;
  }
  
  .freamItemMenu-1{
    background: var(--freamItemMenu);
    height: 100px;
    max-height: 550px;
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Item-set1 {
      width: 75px;
      min-width: 75px;
      height: 75px;
      min-height: 75px;
      margin-top: 15px;
      margin-left: 15px;
      margin-left: 15px;
      padding: 3px;
      justify-content: center;
      align-items: center;
      display: flex;
      background: var(--bgBox);
      border-radius: 3px;
      border: 1px solid var(--borderBox);
      cursor: pointer;
  }
  
  .Product-main {
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;
  }
  
  .Product-Item {
      background: var(--bg) ;
      width: 150px;
      height: 220px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;
      transition: transform 0.2s ease;
  
  }
  
  .Product-Item:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .image-product {
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background: #1a79c7fa;
      height: 150px;
  }
  
  .bt-logoItem {
      display: flex;
      position: relative;
      margin-bottom: -29px;
      padding-left: 1px;
      padding-right: 1px;
      bottom: 30px;
      height: 30px;
      align-items: center;
      background: #4082b854;
      border-radius: 2px;
      justify-content: space-between;
  }
  .top-logoItem {
      display: flex;
      position: relative;
      margin-top: -30px;
      padding-left: 1px;
      padding-right: 1px;
      top: 30px;
      height: 30px;
      align-items: center;
      background: #4082b854;
      border-radius: 2px;
      justify-content: space-between;
  }
  .Product-info {
      display: flex;
      padding-left: 3px;
      padding-right: 3px;
      align-items: center;
  }
  .status-sell{
    margin-right: 3px;
  }
  .Product-detail{
  font-size: small;
  line-height: 13px;
  }
  
  .pro-item{
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    min-height: 20px;
    overflow: auto;
  
    scrollbar-width: thin; /* Make the scrollbar thinner */
    scrollbar-color: var(--scroll) #c9cccc11; /* Color of the thumb and track */
  }
  .fprice-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .price-item {
    padding-left: 3px;
    padding-right: 3px;
    /* bottom: -23px; */
    top: -7px;
    position: relative;
  }
  
  .price-issell {
      font-size: x-small;
  }
  
  .body-Product{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .filter-Product{
  
    width: 180px;
    min-width: 180px;
  
  }
  .filter{
    background: var(--bgBox);
    border:1px solid var(--bg);
    border-radius: 10px;
    min-height: 300px;
    margin: 5px;
    padding: 10px;
  }