@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    /* light */
    --border-light: 2px solid #d4d7da44;
    --colorFont-light: #3d3d3d;
    --hverlight: #8a8a8a;
    --bg-light: #f4ffff09;
    --bgbuttomPagelight: #f1eef73a;

    /* Dark */
    --border-dark: 2px solid #bbbbbb1c;
    --hverdark: #ffffff;
    --colorFont-datk: #ece8e8;
    --bg-dark: #c4c5c567;
    --bgbuttomPageDark: #242527af;

    --ber: 150px;
}

[data-theme="light"] {
    --border: var(--border-light);
    --colorfont: var(--colorFont-light);
    --bg: var(--bg-light);
    --bgbuttomPage: var(--bgbuttomPagelight);
    --bg-color-0: #f5f1f146;
    --bg-color-1: #411ce9f3;
    --bg-color-2: #eb2c2ca2;
    --bg-color-3: #45d1d191;
    --bg-color-4: #d6660bb6;
    --bg-color-2-1: #c32ee0;
    --bg-color-2-2: #8ce9e9ab;
    --bg-color-2-3: #9f3dd8de;
    --bg-color-2-4: #9e22e6de;
    --bgBox: #ffffff8c;
    --borderBox: #63676921;
    --freamItemMenu: #ffffff48;
    --scroll: #92a2b154;
    --bg-sideber: #b135d60a;
}

[data-theme="dark"] {
    --border: var(--border-dark);
    --colorfont: var(--colorFont-datk);
    --bg: var(--bg-dark);
    --bgbuttomPage: var(--bgbuttomPageDark);
    --bg-color-0: #1c2d2e88;
    --bg-color-1: #44a5f5fb;
    --bg-color-2: #40f05e;
    --bg-color-3: #25ffff91;
    --bg-color-4: #ee6628;
    --bg-color-2-1: #c32ee0;
    --bg-color-2-2: #162c2cab;
    --bg-color-2-3: #8626bede;
    --bg-color-2-4: #8626bede;

    --bgBox: #b7bbbe21;
    --borderBox: #969da359;
    --freamItemMenu: #12345654;
    --scroll: #92a2b154;
    --bg-sideber: #8f919438;
}

html,
body,
#root,
.app,
.content {
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
    min-height: 100vh;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--colorfont);
}

body {
    background-color: var(--bg);
}

.app {
    display: flex;
    position: relative;
}

.pro-sidebar .pro-sidebar-inner {
    background: var(--bg-sideber);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}

.horizontal-scroll-container img {
    display: inline-block; /* Ensure images are displayed inline for horizontal scrolling */
    border-radius: 10px;
}

/* WebKit-based browsers */
.horizontal-scroll-container::-webkit-scrollbar {
    height: 8px; /* Height for horizontal scrollbar */
    /* background-color: #641010;  Background color of the scrollbar container */
    border-radius: 50px;
}

.horizontal-scroll-container::-webkit-scrollbar-track {
    background: #f5f5f5; /* Background color of the track */
    border-radius: 50px; /* Rounded corners for the track */
}

.horizontal-scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #e6e6e6; /* Darker color when hovering over the thumb */
    border-radius: 50px;
}

/* Firefox */
.horizontal-scroll-container {
    scrollbar-width: thin; /* Make the scrollbar thinner */
    scrollbar-color: var(--scroll) #c9cccc11; /* Color of the thumb and track */
}

.pro-sidebar-inner {
    color: var(--colorfont);
}
.boder-fream {
    border: var(--border);
}
.boder-fream-bt {
    border-bottom: var(--border);
}
.boder-fream-t {
    border-top: var(--border);
}
.boder-fream-l {
    border-left: var(--border);
}
.boder-fream-r {
    border-right: var(--border);
}

.pro-inner-item:hover {
    color: hverdark !important;
}
.pro-menu-item.active {
    color: hverdark !important;
}

.star {
    position: absolute;
    display: block;
    color: #fff;
    width: 1000px;
    height: 20px;
    background: #6a11a5;
    /* border-right: 20px solid transparent;
    border-bottom: 500px solid #6a11a5;
    border-left: 100px solid transparent; */
    transform: rotate(35deg);
    filter: blur(40px);
    top: 200px;
}

.bg-main {
    /* position: fixed; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: #19ffff; */
    z-index: -1;
}

.bg-color-top {
    position: absolute;
    top: 0;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    filter: blur(var(--ber));
    transform: rotate(50deg);
    background-color: var(--bg-color-1);
}

.bg-color-left {
    position: absolute;
    left: 0;
    top: 0px;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    filter: blur(var(--ber));
    transform: rotate(20deg);
    background: var(--bg-color-2);
}

.bg-color-right {
    position: absolute;
    right: 0;
    bottom: 0px;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    filter: blur(var(--ber));
    transform: rotate(20deg);
    background: var(--bg-color-3);
}

.bg-color-bottom {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    filter: blur(var(--ber));
    transform: rotate(20deg);
    background: var(--bg-color-4);
}

.element {
    background: var(--bg-color-0);
}
.elementss {
    background: #6a11a5;
    background-image: linear-gradient(45deg, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3), var(--bg-color-4)),
        linear-gradient(150deg, var(--bg-color-2-1), var(--bg-color-2-2), var(--bg-color-2-3));

    /* background-image: linear-gradient(45deg, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3), var(--bg-color-4)); */
    /* Gradient from top to bottom */
    /* background-image: linear-gradient(to bottom, #59df4d, #4682b4); */

    /* background-image: linear-gradient(45deg, #ff6347, #4682b4, #c832cd, #ff1493); */

    /* Gradient from left to right */
    /* background-image: linear-gradient(to right, #ff47ff, #4682b4); */

    /* Diagonal gradient from top left to bottom right */
    /* background-image: linear-gradient(to bottom right, #2a27ce, #4682b4); */

    /* You can also specify the angle of the gradient */
    /* 45 degree angle gradient */

    /* Create four linear gradients, each starting from one of the corners */
    /* background-image: 
   linear-gradient(to top left, #ff6347, transparent),
   linear-gradient(to top right, #4682b4, transparent),
   linear-gradient(to bottom right, #32cd32, transparent),
   linear-gradient(to bottom left, #ff1493, transparent);
 
 /* Combine all gradients and set background-size to cover */
    /*background-size: 50% 50%;
 background-position: top left, top right, bottom right, bottom left;
 background-repeat: no-repeat; */
}

.paper-yoshi {
    border: 1px solid #f3f3f338;
    box-shadow: 2px 1px 2px rgba(223, 219, 219, 0.1);
    border-radius: 5px;
    left: 20px;
    right: 20px;
    background: var(--freamItemMenu);
    padding: 10px;
    margin: 20px;
}

.paper-yoshi-title {
    font-size: 18px;
}

.paper-yoshi body {
    display: block;
}

.Bottom-Page {
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    background: var(--bgbuttomPage);
    padding: 20px; /* Padding */
    text-align: center; /* Centered text */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); /* Shadow above the footer */
    border-top: 2px solid #d0cfd32c; /* Top border */
}
.Bottom-Page-info {
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        padding-top: 0;
    }
    .main-content {
        margin-left: 0;
    }
}



.slide-in-image {
    width: 300px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .slide-in-image.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .conten{
   
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    background: #12345654;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }